.svg-a {
	background: url("svg/sprite.css-f40cd4cc.svg") 46.610814927646615% 0 no-repeat;
}

.svg-a-dims {
	width: 412.2px;
	height: 420px;
}

.svg-arrow-right {
	background: url("svg/sprite.css-f40cd4cc.svg") 84.98293515358361% 50.93922651933702% no-repeat;
}

.svg-arrow-right-dims {
	width: 28px;
	height: 34px;
}

.svg-circle {
	background: url("svg/sprite.css-f40cd4cc.svg") 0 100% no-repeat;
}

.svg-circle-dims {
	width: 99px;
	height: 99px;
}

.svg-circle-big {
	background: url("svg/sprite.css-f40cd4cc.svg") 99.92307692307692% 0 no-repeat;
}

.svg-circle-big-dims {
	width: 420px;
	height: 420px;
}

.svg-circle-biggest {
	background: url("svg/sprite.css-f40cd4cc.svg") 0 80.92485549132948% no-repeat;
}

.svg-circle-biggest-dims {
	width: 420px;
	height: 420px;
}

.svg-circle-line-end {
	background: url("svg/sprite.css-f40cd4cc.svg") 93.07692307692308% 50.71507150715072% no-repeat;
}

.svg-circle-line-end-dims {
	width: 30px;
	height: 30px;
}

.svg-drop {
	background: url("svg/sprite.css-f40cd4cc.svg") 90.50470487596236% 50.77092511013216% no-repeat;
}

.svg-drop-dims {
	width: 31px;
	height: 31px;
}

.svg-fb {
	background: url("svg/sprite.css-f40cd4cc.svg") 99.8280309544282% 67.19101123595506% no-repeat;
}

.svg-fb-dims {
	width: 37px;
	height: 49px;
}

.svg-free {
	background: url("svg/sprite.css-f40cd4cc.svg") 90.38461538461539% 60.47032474804031% no-repeat;
}

.svg-free-dims {
	width: 56px;
	height: 46px;
}

.svg-heart {
	background: url("svg/sprite.css-f40cd4cc.svg") 79.15590008613265% 51.108647450110865% no-repeat;
}

.svg-heart-dims {
	width: 39px;
	height: 37px;
}

.svg-icon-1 {
	background: url("svg/sprite.css-f40cd4cc.svg") 64.31095406360424% 85.3211009174312% no-repeat;
}

.svg-icon-1-dims {
	width: 68px;
	height: 67px;
}

.svg-icon-2 {
	background: url("svg/sprite.css-f40cd4cc.svg") 14.700704225352112% 96.44087256027555% no-repeat;
}

.svg-icon-2-dims {
	width: 64px;
	height: 68px;
}

.svg-icon-3 {
	background: url("svg/sprite.css-f40cd4cc.svg") 96.55172413793103% 68.18700114025086% no-repeat;
}

.svg-icon-3-dims {
	width: 69px;
	height: 62px;
}

.svg-icon-4 {
	background: url("svg/sprite.css-f40cd4cc.svg") 8.745583038869258% 96.44087256027555% no-repeat;
}

.svg-icon-4-dims {
	width: 68px;
	height: 68px;
}

.svg-icon-5 {
	background: url("svg/sprite.css-f40cd4cc.svg") 70.31802120141343% 84.83466362599772% no-repeat;
}

.svg-icon-5-dims {
	width: 68px;
	height: 62px;
}

.svg-line-2 {
	background: url("svg/sprite.css-f40cd4cc.svg") 89.95348837209302% 68.57798165137615% no-repeat;
}

.svg-line-2-dims {
	width: 125px;
	height: 67px;
}

.svg-line-3 {
	background: url("svg/sprite.css-f40cd4cc.svg") 78.22429906542057% 71.02137767220903% no-repeat;
}

.svg-line-3-dims {
	width: 130px;
	height: 97px;
}

.svg-line-4 {
	background: url("svg/sprite.css-f40cd4cc.svg") 66.72777268560954% 73.46938775510205% no-repeat;
}

.svg-line-4-dims {
	width: 109px;
	height: 204px;
}

.svg-line-5 {
	background: url("svg/sprite.css-f40cd4cc.svg") 72.47796278158668% 49.18032786885246% no-repeat;
}

.svg-line-5-dims {
	width: 179px;
	height: 85px;
}

.svg-line-6 {
	background: url("svg/sprite.css-f40cd4cc.svg") 78.22429906542057% 61.29398410896708% no-repeat;
}

.svg-line-6-dims {
	width: 130px;
	height: 58px;
}

.svg-line1 {
	background: url("svg/sprite.css-f40cd4cc.svg") 85.96819457436857% 46.770601336302896% no-repeat;
}

.svg-line1-dims {
	width: 131px;
	height: 41px;
}

.svg-logo-a {
	background: url("svg/sprite.css-f40cd4cc.svg") 0 0 no-repeat;
}

.svg-logo-a-dims {
	width: 367.2px;
	height: 420px;
}

.svg-logo-left {
	background: url("svg/sprite.css-f40cd4cc.svg") 47.72727272727273% 51.282051282051285% no-repeat;
}

.svg-logo-left-dims {
	width: 320px;
	height: 120px;
}

.svg-logo-right {
	background: url("svg/sprite.css-f40cd4cc.svg") 95.19492293744334% 46.666666666666664% no-repeat;
}

.svg-logo-right-dims {
	width: 97px;
	height: 39px;
}

.svg-m {
	background: url("svg/sprite.css-f40cd4cc.svg") 72.97297297297297% 77.91479820627802% no-repeat;
}

.svg-m-dims {
	width: 53px;
	height: 47px;
}

.svg-menu {
	background: url("svg/sprite.css-f40cd4cc.svg") 82.44406196213426% 50.93922651933702% no-repeat;
}

.svg-menu-dims {
	width: 38px;
	height: 34px;
}

.svg-quit {
	background: url("svg/sprite.css-f40cd4cc.svg") 99.13569576490924% 46.30650496141124% no-repeat;
}

.svg-quit-dims {
	width: 43px;
	height: 32px;
}

.svg-start {
	background: url("svg/sprite.css-f40cd4cc.svg") 47.08520179372197% 83.85093167701864% no-repeat;
}

.svg-start-dims {
	width: 308px;
	height: 295px;
}

.svg-tg {
	background: url("svg/sprite.css-f40cd4cc.svg") 75.59055118110236% 83.78378378378379% no-repeat;
}

.svg-tg-dims {
	width: 57px;
	height: 51px;
}

.svg-vk {
	background: url("svg/sprite.css-f40cd4cc.svg") 85.3486319505737% 60.53811659192825% no-repeat;
}

.svg-vk-dims {
	width: 67px;
	height: 47px;
}

.svg-x {
	background: url("svg/sprite.css-f40cd4cc.svg") 87.82161234991423% 50.93922651933702% no-repeat;
}

.svg-x-dims {
	width: 34px;
	height: 34px;
}

