.svg-a {
	background: url("svg/sprite.css-c6850249.svg") 46.610814927646615% 0 no-repeat;
}

.svg-a-dims {
	width: 412.2px;
	height: 420px;
}

.svg-arrow-right {
	background: url("svg/sprite.css-c6850249.svg") 84.98293515358361% 47.3792394655704% no-repeat;
}

.svg-arrow-right-dims {
	width: 28px;
	height: 34px;
}

.svg-circle {
	background: url("svg/sprite.css-c6850249.svg") 0 92.51101321585904% no-repeat;
}

.svg-circle-dims {
	width: 99px;
	height: 99px;
}

.svg-circle-big {
	background: url("svg/sprite.css-c6850249.svg") 99.92307692307692% 0 no-repeat;
}

.svg-circle-big-dims {
	width: 420px;
	height: 420px;
}

.svg-circle-biggest {
	background: url("svg/sprite.css-c6850249.svg") 0 71.55025553662692% no-repeat;
}

.svg-circle-biggest-dims {
	width: 420px;
	height: 420px;
}

.svg-circle-line-end {
	background: url("svg/sprite.css-c6850249.svg") 90.17094017094017% 47.18526100307062% no-repeat;
}

.svg-circle-line-end-dims {
	width: 30px;
	height: 30px;
}

.svg-drop {
	background: url("svg/sprite.css-c6850249.svg") 87.59623609923011% 47.23360655737705% no-repeat;
}

.svg-drop-dims {
	width: 31px;
	height: 31px;
}

.svg-fb {
	background: url("svg/sprite.css-c6850249.svg") 99.8280309544282% 62.421711899791234% no-repeat;
}

.svg-fb-dims {
	width: 37px;
	height: 49px;
}

.svg-free {
	background: url("svg/sprite.css-c6850249.svg") 90.38461538461539% 56.19146722164412% no-repeat;
}

.svg-free-dims {
	width: 56px;
	height: 46px;
}

.svg-heart {
	background: url("svg/sprite.css-c6850249.svg") 79.15590008613265% 47.52577319587629% no-repeat;
}

.svg-heart-dims {
	width: 39px;
	height: 37px;
}

.svg-icon-1 {
	background: url("svg/sprite.css-c6850249.svg") 14.39929328621908% 89.36170212765957% no-repeat;
}

.svg-icon-1-dims {
	width: 68px;
	height: 67px;
}

.svg-icon-2 {
	background: url("svg/sprite.css-c6850249.svg") 8.714788732394366% 89.45686900958466% no-repeat;
}

.svg-icon-2-dims {
	width: 64px;
	height: 68px;
}

.svg-icon-3 {
	background: url("svg/sprite.css-c6850249.svg") 96.55172413793103% 63.28042328042328% no-repeat;
}

.svg-icon-3-dims {
	width: 69px;
	height: 62px;
}

.svg-icon-4 {
	background: url("svg/sprite.css-c6850249.svg") 0 100% no-repeat;
}

.svg-icon-4-dims {
	width: 68px;
	height: 68px;
}

.svg-icon-5 {
	background: url("svg/sprite.css-c6850249.svg") 64.31095406360424% 78.73015873015873% no-repeat;
}

.svg-icon-5-dims {
	width: 68px;
	height: 62px;
}

.svg-line-2 {
	background: url("svg/sprite.css-c6850249.svg") 89.95348837209302% 63.61702127659574% no-repeat;
}

.svg-line-2-dims {
	width: 125px;
	height: 67px;
}

.svg-line-3 {
	background: url("svg/sprite.css-c6850249.svg") 78.22429906542057% 65.71428571428571% no-repeat;
}

.svg-line-3-dims {
	width: 130px;
	height: 97px;
}

.svg-line-4 {
	background: url("svg/sprite.css-c6850249.svg") 66.72777268560954% 67.24782067247821% no-repeat;
}

.svg-line-4-dims {
	width: 109px;
	height: 204px;
}

.svg-line-5 {
	background: url("svg/sprite.css-c6850249.svg") 72.47796278158668% 45.5531453362256% no-repeat;
}

.svg-line-5-dims {
	width: 179px;
	height: 85px;
}

.svg-line-6 {
	background: url("svg/sprite.css-c6850249.svg") 78.22429906542057% 56.90200210748156% no-repeat;
}

.svg-line-6-dims {
	width: 130px;
	height: 58px;
}

.svg-line1 {
	background: url("svg/sprite.css-c6850249.svg") 85.96819457436857% 43.47826086956522% no-repeat;
}

.svg-line1-dims {
	width: 131px;
	height: 41px;
}

.svg-logo-a {
	background: url("svg/sprite.css-c6850249.svg") 0 0 no-repeat;
}

.svg-logo-a-dims {
	width: 367.2px;
	height: 420px;
}

.svg-logo-left {
	background: url("svg/sprite.css-c6850249.svg") 47.72727272727273% 47.350620067643746% no-repeat;
}

.svg-logo-left-dims {
	width: 320px;
	height: 120px;
}

.svg-logo-right {
	background: url("svg/sprite.css-c6850249.svg") 95.19492293744334% 43.388429752066116% no-repeat;
}

.svg-logo-right-dims {
	width: 97px;
	height: 39px;
}

.svg-m {
	background: url("svg/sprite.css-c6850249.svg") 72.97297297297297% 72.39583333333333% no-repeat;
}

.svg-m-dims {
	width: 53px;
	height: 47px;
}

.svg-menu {
	background: url("svg/sprite.css-c6850249.svg") 82.44406196213426% 47.3792394655704% no-repeat;
}

.svg-menu-dims {
	width: 38px;
	height: 34px;
}

.svg-quit {
	background: url("svg/sprite.css-c6850249.svg") 99.13569576490924% 43.07692307692308% no-repeat;
}

.svg-quit-dims {
	width: 43px;
	height: 32px;
}

.svg-start {
	background: url("svg/sprite.css-c6850249.svg") 47.08520179372197% 75.84269662921348% no-repeat;
}

.svg-start-dims {
	width: 308px;
	height: 295px;
}

.svg-tg {
	background: url("svg/sprite.css-c6850249.svg") 69.64129483814523% 77.82426778242677% no-repeat;
}

.svg-tg-dims {
	width: 57px;
	height: 51px;
}

.svg-vk {
	background: url("svg/sprite.css-c6850249.svg") 85.3486319505737% 56.25% no-repeat;
}

.svg-vk-dims {
	width: 67px;
	height: 47px;
}

