.svg-a {
	background: url("svg/sprite.css-e7e51bc2.svg") 0 0 no-repeat;
}

.svg-a-dims {
	width: 412.2px;
	height: 420px;
}

.svg-arrow-right {
	background: url("svg/sprite.css-e7e51bc2.svg") 84.91428571428571% 50.93922651933702% no-repeat;
}

.svg-arrow-right-dims {
	width: 28px;
	height: 34px;
}

.svg-circle {
	background: url("svg/sprite.css-e7e51bc2.svg") 0 100% no-repeat;
}

.svg-circle-dims {
	width: 99px;
	height: 99px;
}

.svg-circle-big {
	background: url("svg/sprite.css-e7e51bc2.svg") 49.483793517406966% 0 no-repeat;
}

.svg-circle-big-dims {
	width: 420px;
	height: 420px;
}

.svg-circle-biggest {
	background: url("svg/sprite.css-e7e51bc2.svg") 99.90396158463385% 0 no-repeat;
}

.svg-circle-biggest-dims {
	width: 420px;
	height: 420px;
}

.svg-circle-line-end {
	background: url("svg/sprite.css-e7e51bc2.svg") 89.87735077677841% 50.71507150715072% no-repeat;
}

.svg-circle-line-end-dims {
	width: 30px;
	height: 30px;
}

.svg-drop {
	background: url("svg/sprite.css-e7e51bc2.svg") 87.41407528641571% 50.77092511013216% no-repeat;
}

.svg-drop-dims {
	width: 31px;
	height: 31px;
}

.svg-fb {
	background: url("svg/sprite.css-e7e51bc2.svg") 57.33552631578947% 80.33707865168539% no-repeat;
}

.svg-fb-dims {
	width: 37px;
	height: 49px;
}

.svg-free {
	background: url("svg/sprite.css-e7e51bc2.svg") 70.27568922305764% 63.045912653975364% no-repeat;
}

.svg-free-dims {
	width: 56px;
	height: 46px;
}

.svg-heart {
	background: url("svg/sprite.css-e7e51bc2.svg") 79.34102141680395% 51.108647450110865% no-repeat;
}

.svg-heart-dims {
	width: 39px;
	height: 37px;
}

.svg-icon-1 {
	background: url("svg/sprite.css-e7e51bc2.svg") 53.09704641350211% 81.9954128440367% no-repeat;
}

.svg-icon-1-dims {
	width: 68px;
	height: 67px;
}

.svg-icon-2 {
	background: url("svg/sprite.css-e7e51bc2.svg") 41.81665264928511% 82.08955223880596% no-repeat;
}

.svg-icon-2-dims {
	width: 64px;
	height: 68px;
}

.svg-icon-3 {
	background: url("svg/sprite.css-e7e51bc2.svg") 67.58445945945945% 71.15165336374002% no-repeat;
}

.svg-icon-3-dims {
	width: 69px;
	height: 62px;
}

.svg-icon-4 {
	background: url("svg/sprite.css-e7e51bc2.svg") 47.35864978902954% 82.08955223880596% no-repeat;
}

.svg-icon-4-dims {
	width: 68px;
	height: 68px;
}

.svg-icon-5 {
	background: url("svg/sprite.css-e7e51bc2.svg") 73.35021097046413% 71.15165336374002% no-repeat;
}

.svg-icon-5-dims {
	width: 68px;
	height: 62px;
}

.svg-line-2 {
	background: url("svg/sprite.css-e7e51bc2.svg") 59.858156028368796% 71.55963302752293% no-repeat;
}

.svg-line-2-dims {
	width: 125px;
	height: 67px;
}

.svg-line-3 {
	background: url("svg/sprite.css-e7e51bc2.svg") 32.69813000890472% 84.91686460807601% no-repeat;
}

.svg-line-3-dims {
	width: 130px;
	height: 97px;
}

.svg-line-4 {
	background: url("svg/sprite.css-e7e51bc2.svg") 59.02097902097902% 57.142857142857146% no-repeat;
}

.svg-line-4-dims {
	width: 109px;
	height: 204px;
}

.svg-line-5 {
	background: url("svg/sprite.css-e7e51bc2.svg") 73.01675977653632% 49.18032786885246% no-repeat;
}

.svg-line-5-dims {
	width: 179px;
	height: 85px;
}

.svg-line-6 {
	background: url("svg/sprite.css-e7e51bc2.svg") 69.83081032947462% 57.32122587968218% no-repeat;
}

.svg-line-6-dims {
	width: 130px;
	height: 58px;
}

.svg-line1 {
	background: url("svg/sprite.css-e7e51bc2.svg") 85.84670231729055% 46.770601336302896% no-repeat;
}

.svg-line1-dims {
	width: 131px;
	height: 41px;
}

.svg-logo-a {
	background: url("svg/sprite.css-e7e51bc2.svg") 0 80.92485549132948% no-repeat;
}

.svg-logo-a-dims {
	width: 367.2px;
	height: 420px;
}

.svg-logo-left {
	background: url("svg/sprite.css-e7e51bc2.svg") 82.52312867956266% 56.48769574944072% no-repeat;
}

.svg-logo-left-dims {
	width: 64px;
	height: 45px;
}

.svg-logo-right {
	background: url("svg/sprite.css-e7e51bc2.svg") 94.65397923875433% 46.666666666666664% no-repeat;
}

.svg-logo-right-dims {
	width: 97px;
	height: 39px;
}

.svg-m {
	background: url("svg/sprite.css-e7e51bc2.svg") 78.1% 69.95515695067265% no-repeat;
}

.svg-m-dims {
	width: 53px;
	height: 47px;
}

.svg-menu {
	background: url("svg/sprite.css-e7e51bc2.svg") 82.48559670781893% 50.93922651933702% no-repeat;
}

.svg-menu-dims {
	width: 38px;
	height: 34px;
}

.svg-quit {
	background: url("svg/sprite.css-e7e51bc2.svg") 98.44628099173553% 46.30650496141124% no-repeat;
}

.svg-quit-dims {
	width: 43px;
	height: 32px;
}

.svg-start {
	background: url("svg/sprite.css-e7e51bc2.svg") 38.857142857142854% 65.21739130434783% no-repeat;
}

.svg-start-dims {
	width: 308px;
	height: 295px;
}

.svg-tg {
	background: url("svg/sprite.css-e7e51bc2.svg") 65.5685618729097% 63.4009009009009% no-repeat;
}

.svg-tg-dims {
	width: 57px;
	height: 51px;
}

.svg-vk {
	background: url("svg/sprite.css-e7e51bc2.svg") 77.08263069139966% 56.61434977578475% no-repeat;
}

.svg-vk-dims {
	width: 67px;
	height: 47px;
}

